# SEP Python Assignment

## Question 1

In [3]:
import pandas as pd
df_1=pd.read_csv('people_1.txt', sep='\t', header=0)
df_2=pd.read_csv('people_2.txt', sep='\t', header=0)
df = pd.concat([df_1, df_2], ignore_index=True, sort=False).astype(str)

# calpitalize first name & last name
df['FirstName']=df['FirstName'].str.capitalize().apply(lambda x: x.strip())
df['LastName']=df['LastName'].str.capitalize().apply(lambda x: x.strip())

# leave email address the same
df['Email']=df['Email'].apply(lambda x: x.strip())
# erase all '-'s from phone
df['Phone']=df['Phone'].apply(lambda x: x.replace('-','').strip())

# erase all 'No.' and '#'
df['Address']=df['Address'].apply(lambda x: x.replace('No.','').strip()).apply(lambda x: x.replace('#','').strip())

# remove duplicates
new_df=df.drop_duplicates()
print('you have dropped '+str(len(df)-len(new_df))+' rows of duplicate records.')

# show results
print(new_df.head(20))

#save result to a tsv file
df.to_csv('people.txt', sep="\t")

you have dropped 4305 rows of duplicate records.
   FirstName   LastName                         Email       Phone  \
0    Matthew   Williams    Matthew.Williams@email.com  0532788309
3     Louise  Rodriguez    Louise.Rodriguez@email.com  5539811593
4    Charles      Smith       Charles.Smith@email.com  5233815730
5       Lisa      Jones          Lisa.Jones@email.com  8037591018
6      Greta      Jones         Greta.Jones@email.com  6796258398
7        Ted     Thomas          Ted.Thomas@email.com  3019050866
8    Matthew   Gonzalez    Matthew.Gonzalez@email.com  5622374649
9       Zoey      Smith          Zoey.Smith@email.com  9439505894
10   Charles      Brown       Charles.Brown@email.com  4484721969
11       Ted   Anderson        Ted.Anderson@email.com  0038580112
12  Jennifer   Williams   Jennifer.Williams@email.com  2737408034
13    Louise      Smith        Louise.Smith@email.com  2885927227
14      Jake     Miller         Jake.Miller@email.com  4379626516
15       Bob   Williams        Bob.Williams@email.com  1878202005
16  Jennifer  Hernandez  Jennifer.Hernandez@email.com  6124822821
17   Charles     Garcia      Charles.Garcia@email.com  3224798760
18     Greta      Davis         Greta.Davis@email.com  2624474338
19      Zoey   Martinez       Zoey.Martinez@email.com  2646746390
20       Ted   Gonzalez        Ted.Gonzalez@email.com  9676836495
21   Matthew  Hernandez   Matthew.Hernandez@email.com  5657775953

                Address
0    0532 Williams Lane
3   5539 Rodriguez Lane
4       5233 Smith Lane
5       8037 Jones Lane
6       6796 Jones Lane
7      3019 Thomas Lane
8    5622 Gonzalez Lane
9       9439 Smith Lane
10      4484 Brown Lane
11   0038 Anderson Lane
12   2737 Williams Lane
13      2885 Smith Lane
14     4379 Miller Lane
15   1878 Williams Lane
16  6124 Hernandez Lane
17     3224 Garcia Lane
18      2624 Davis Lane
19   2646 Martinez Lane
20   9676 Gonzalez Lane
21  5657 Hernandez Lane

## Question 2

In [35]:
import numpy as np
import pandas as pd

js = pd.read_json('movie.json')

# trunk json file evenly into 8 parts
trunk_num = 8
rows = int(np.floor(len(js)/trunk_num))

# automatically name those 8 part with name from js_1 to js_8
for i in range(trunk_num-1):
    vars()["js_"+str(i+1)]=js.iloc[i*rows:(i+1)*rows]
vars()["js_"+str(trunk_num)]=js.iloc[(trunk_num-1)*rows:]

# print number of rows from each sub-dataframe
for i in range(trunk_num):
    print("dataframe js_"+str(i+1)+' has '+str(len(vars()["js_"+str(i+1)]))+' rows of data')
# automatically save those into json format
for i in range(trunk_num):
    vars()["js_"+str(i+1)].to_json("js_"+str(i+1)+'.json')

dataframe js_1 has 1249 rows of data
dataframe js_2 has 1249 rows of data
dataframe js_3 has 1249 rows of data
dataframe js_4 has 1249 rows of data
dataframe js_5 has 1249 rows of data
dataframe js_6 has 1249 rows of data
dataframe js_7 has 1249 rows of data
dataframe js_8 has 1252 rows of data

## Question 3

### Write a paragraph on what PaaS, SaaS and IaaS are and the differences between them.

#### PaaS
#### SaaS
#### IaaS

## Question 4

### Write a paragraph on the differences between ETL and ELT. 
### Also, list the pros and cons of each in a chart.

#### ETL
#### ELT

#### Chart